* {
  font-family: 'Roboto', "Roboto", monospace;
  font-size: 15px;

  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Title font";
  src: url("fonts/IrishGrover-Regular.ttf") format("truetype");
}

body {
  background-color: #2F2F2F; /* Cambia este valor a un color de tu elección */
}

.main-button {
  border: 1px solid #181414;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #181414;
  color: white;
  width: 100%;
}

.main-button:hover {
  border: 1px solid rgba(226, 222, 211, 0.89);
}
.buttons_container {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Title font", serif;
  font-size: 60px;
  text-align: center; /* Alinea el contenido de cada elemento en el centro */
  color: white;
  word-wrap: break-word;
  margin-bottom: 5px;
}

@media (min-width: 600px) {
  .main-button {
    padding: 20px 20px;
  }
  .title {
    margin: 0;
    font-size: 100px;
  }

  * {
    font-size: 20px;
  }
}

.big_container {
  display: grid;
  justify-content: center; /* Alinea los elementos horizontalmente en el centro */
  align-items: center;    /* Alinea los elementos verticalmente en el centro */
  grid-template-rows: 1fr 2fr;
  grid-gap: 50px; /* Espacio entre elementos */
  padding: 0 40px;
  margin-top: 4rem;
}

.red_button {
    background-color: #DB4E38;
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 10px;
}

.rows_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}