* {
  font-family: 'text font', 'text font', monospace;
  font-size: 15px;

  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: 'Title font';
  src: url('fonts/IrishGrover-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'text font';
  src: url('fonts/EightBitDragon-anqx.ttf') format('truetype');
}

body {
  background-color: #2f2f2f; /* Cambia este valor a un color de tu elección */
}
