.form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.form-group label {
    color: white;
    margin: 0.5rem;
}
.form-group input {
    padding: 5px;
}

@media (min-width: 600px) {
    .form {
        margin-bottom: 5rem;
    }
}
