.header-buttons-container {
    justify-content: center;
}

form#arena-filters {
    margin-left: 2rem;
    margin-right: 2rem;
}

label {
    color: white;
}

form select,
form input {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
    padding: 1rem;
    box-sizing: border-box; /* Fer que l'element no sobresurti de la pantalla */
    width: 100%;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}