.header-buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: sticky;
    background-color: #2F2F2F;
    top: 0;
}

h1.title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

button#filter-button {
    margin-bottom: 0;
}

section {
    margin: 2rem;
}

p#arena-join-description {
    color: white;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

section article {
    background-color: #181414;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

section article p,
section article h2 {
    color: white;
}

section article div.arena-info {
    font-weight: bold;
    margin-bottom: 1rem;
}

section article div.arena-info h2,
section article div.arena-size p {
    display: inline;
}

section article:hover {
    outline: white 1px solid;
}

.popUp {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: #cccccc 1px solid;
    padding: 1rem;
    width: 20rem;
    z-index: 999; /* Per posar-lo per sobre dels elements */
}

.popUp button:hover {
    font-weight: bold;
}

@media (min-width: 900px) {
    section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;
    }

    section article.arena {
        flex: 1;
        max-width: 21.5rem;
        min-width: 21.5rem;
        box-sizing: border-box;
    }
}