@import './base.css';

/* Classe per posar els elements un sota de l'altre, utilitzant flex. */
.big_container {
    display: grid;
    justify-content: center; /* Alinea los elementos horizontalmente en el centro */
    align-items: center;    /* Alinea los elementos verticalmente en el centro */
    grid-template-rows: 1fr 2fr;
    grid-gap: 50px; /* Espacio entre elementos */
    padding: 0 40px;
}

@media (min-width: 600px) {
    .big_container {
        grid-gap: 0;
    }
}

.red_button {
    background-color: #DB4E38;
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 10px;
}

.red_button:hover {
    outline: 1px solid rgba(226, 222, 211, 0.89);
}

.rows_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-button {
    border: 1px solid #181414;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #181414;
    color: white;
    width: 100%;
}

.main-button:hover {
    border: 1px solid rgba(226, 222, 211, 0.89);
}

.buttons_container {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Title font", serif;
    font-size: 2.5rem;
    text-align: center; /* Alinea el contenido de cada elemento en el centro */
    color: white;
    word-wrap: break-word;
    margin-bottom: 5px;
}

button {
    cursor: pointer;
}

/* Estilos para los botones del Router Link: no poner underline y de color blanco */
a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}

/* Classes for the views Login and Sign Up */
.login_and_signUp-container {
    text-align: center;
    margin: 20px;
}

.buttons_login_and_signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#login-button,
#register-button {
    display: block;
    padding: 1rem;
    width: 10rem;
    margin-top: 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#register-button {
    background-color: #28A745;
}

.login_and_signUp_form-group {
    max-width: 16rem;
    margin: 20px auto;
}

.login_and_signUp_form-group label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #fff;
}

.login_and_signUp_form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
}

h2.login_and_signUp {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 2.5rem;
    margin-top: 4rem;
}


/* FOOTER */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    background-color: #2F2F2F;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", serif;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}

h2 {
    font-size: 1.5rem;
}

@media (min-width: 600px) {
    .main-button {
        padding: 20px 20px;
    }
    .title {
        margin: 0;
        font-size: 100px;
    }

    * {
        font-size: 20px;
    }
}
