* {
    margin: 0;
    padding: 0;
    border: 0;
}

.header-buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: sticky;
    background-color: #2F2F2F;
    top: 0;
}

/* Remove "main-button" class' bottom margin */
#delete-account {
    margin-bottom: 0;
}

p, b {
    color: white;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem !important;
    padding: 2rem;
}

#player-info {
    text-align: center;
    display: inline;
}

#player-info p {
    display: inline;
}

#player-info article {
    padding-bottom: 1.5rem;
}

#player-info-image img {
    max-width: 50%;
    margin: 0 auto;
}

#player-info-name p {
    display: inline;
}

#player-info article:last-child {
    padding: 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: white;
    padding-bottom: 2rem;
    font-weight: bold;
}

#equipped-attacks article,
#owned-attacks article {
    margin-bottom: 1.5rem;
}

#equipped-attacks article p,
#owned-attacks article p {
    font-size: 1.2rem;
    display: inline;
}

.main-attack-power {
    margin-top: 1rem;
}

#equipped-attacks article:hover,
#owned-attacks article:hover {
    outline: 1px solid white;
}

.main-attack, .attack{
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1.5rem;
    background-color: #181414;
}

.main-attack > p, .attack > p {
    font-weight: bold;
}

hr {
    border: 1px solid white;
    margin: 2rem;
}

@media (min-width: 600px) {
    #player-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #player-info-image img {
        max-width: 14rem;
    }

    h1 {
        margin-bottom: 2rem !important;
    }

    #player-info-data {
        display: flex;
        flex-direction: column;
    }

    #equipped-attacks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        height: fit-content;
    }

    .main-attack {
        flex: 1; /* Expand to fill the whole container */
        min-width: 20rem; /* Mida mínima pel requadre de l'atac */
    }

    #owned-attacks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .attack {
        width: 20%; /* Limit the number of columns to 4 */
        min-width: 20rem; /* Mida mínima pel requadre de l'atac */
    }
}