/* Estils per el popup */
.popUp {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: #cccccc 1px solid;
    padding: 1.5rem;
    box-sizing: border-box;
    width: 22rem;
    z-index: 999; /* Per posar-lo per sobre dels elements */
}

/* Separar les opcions del PopUp */
.popUp *:nth-child(2) {
    margin-bottom: 1rem;
}

/* Mostrar l'opció seleccionada del PopUp en negreta */
.popUp p:hover {
    font-weight: bold;
    cursor: pointer;
}

/* Ajustar la font del text i el seu color */
.popUp p.popUp-question b {
    color: black;
    font-size: 20px;
    line-height: 2rem;
}

.popUp p {
    font-size: 20px;
}

/* Separar la pregunta de les respostes */
.popUp p.popUp-question {
    margin-bottom: 1rem;
}

/* Esborrar el color de fons dels botons */
.popUp button {
    background: none;
}