h2 {
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.coin_container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    color: white;
}

.rows_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.shop_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item_container {
    display: grid;
    grid-template-columns: max-content 1fr max-content 1fr;
    gap: 10px;
    align-items: center;
    color: white;
    background-color: #181414;
    border: #cccccc 1px solid;
    padding: 1rem;
    width: 100%;
    margin: 1rem 0;
}

.item_container h3{
    font-size: 1.2rem;
    grid-column: 1 / span 4;
    margin: 0;
}

.item_container div {
    grid-column: 1 / span 4;
    margin: 0;
}

.item_container button {
    grid-column: 1 / span 4;
    margin: 0;
}