/* Estilos para el contenedor principal */
.container {
    text-align: center;
    margin: 20px;
}

/* Estilos para los elementos h1, p y botones */
h1 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide el contenedor en dos columnas */
    gap: 10px; /* Espacio entre las columnas */
    text-align: center;
}

/* Estilos para los botones y elementos dentro del grid */
.grid-container button, .grid-container p {
    margin: 10px 0;
}
